
<section id="about" class="d-flex align-items-center">

	<div class="container">
	  <div class="row">
		<div
		  class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
		  <div>
			<h1 class="pb-4"><span style="color:#E30613">Advance </span>Your Organizations Resiliency</h1>
			<p >Established in 2013, Red Canari is a Canadian corporation focused on
			  highly technical, offensive cybersecurity. Red Canari experts are authors of
			  globally adopted security tools and regularly present proprietary research
			  projects on the world stage including at Black Hat and DEF CON. </p>
			<p   >We are authorized by the Canadian Industrial Security Directorate
			  to work
			  on sensitive, classified projects for key government departments and the
			  military command. </p>
			<p  >Our experts advance cyber resilience at key global organizations
			  across
			  sectors including a top international air navigation service provider, the
			  definitive core banking software company, a large hydroelectric power
			  station operator, a premier national medical insurer, government and the
			  military command.</p>
			  <div class="banner-btn">
				<a href="{{ site.banner_btn_one_link }}" class="btn active">TALK TO AN EXPERT
</a>
			
			</div>
		  </div>
		</div>
		<div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img">
		  <img src="{{'/assets/images/ResearchDriven.png' | relative_url}}"  class="img-fluid" alt="">
		</div>
	  </div>
	</div>
  
  </section><!-- End Hero -->
  

