<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="smartit-source">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon and Touch Icons -->
        <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.html">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
		<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'assets/css/flaticon.css' | relative_url }}">
		<!-- Plugin CSS -->
		<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
		<link rel="stylesheet" href="{{ 'assets/css/animate.css' | relative_url }}"> 
		<link rel="stylesheet" href="{{ 'assets/css/meanmenu.min.css' | relative_url }}">
 
		<!--Theme custom css -->
		<link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
		<!--Theme Responsive css-->
		<link rel="stylesheet" href="{{ 'assets/css/responsive.css' | relative_url }}" />
		<script src="{{ 'assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' | relative_url }}"></script>
		{% include seo.html %}
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TKNLZFJ');</script>
	<!-- End Google Tag Manager -->
	
 
	
	
	</head>