		<!-- js file start -->
		<script src="{{ 'assets/js/vendor/jquery-1.12.0.min.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/Popper.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
 
		<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/scrollup.js' | relative_url }}"></script>
 
		<script src="{{ 'assets/js/waypoints.min.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/jquery.meanmenu.js' | relative_url }}"></script>
 
 
 
 
		<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
		<!-- End js file -->
 